
$bodyColor: lightgray;
$marginTop: 20px;

body {
  background-color: $bodyColor;
}

#js-newGameElement {
  margin-top: $marginTop;
}

.game-element-bt,
.css-playerPickElement {
  margin-top: $marginTop;
  text-align: center;
}

#js-round-wrap {
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}

.out {
  height: 20px;
  text-align: center;
}